{% extends 'base.html' %}
{% block title %}
<title>News Page</title>
{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}
<form action="{% url 'index' %}" method="post">
{% csrf_token %}

    <input type="text" name="name" placeholder="Enter your name"><br>
    <input type="email" name="email" placeholder="Enter your email"><br>
    <input type="text" name="website" placeholder="Enter your websiete address"><br>
    <input type="text" name="contact" placeholder="Enter your contact"><br>
    <input type="submit" value="Click">
</form>

{% endblock %}
