{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block Header %}
{% endblock %}
{% block MainContent %}
    <div class="container" style="padding-left: 30px">
        <h1>Password Reset</h1>
         <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="container" >
                {{ form.as_p }}
                <button type="submit" name="login">Reset my password</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}